{
	admin off
	auto_https disable_redirects
	email {$ENTROPY_ACME_EMAIL}
	servers {
		protocols h1 h2
	}
	storage file_system {
		root "{$ENTROPY_CADDY_DATA_DIR}"
	}
}

https://{$ENTROPY_SEED_DOMAIN} {
	tls {
		issuer acme {
			email {$ENTROPY_ACME_EMAIL}
			disable_http_challenge
		}
	}

	header {
		-Server
		Referrer-Policy no-referrer
		X-Content-Type-Options nosniff
	}

	route {
		@entropy_protocol path /v2/*
		reverse_proxy @entropy_protocol http://{$ENTROPY_LISTEN_ADDRESS} {
			header_up X-Entropy-Client-IP {remote_host}
			transport http {
				versions 1.1
			}
		}
		respond 404
	}

	log {
		output file "{$ENTROPY_LOG_DIR}/caddy-access.log" {
			roll_size 50MiB
			roll_keep 10
			roll_keep_for 336h
		}
		format json
	}
}
