Package: entcoin
Version: @VERSION@
Section: net
Priority: optional
Architecture: amd64
Maintainer: Entcoin Project
Installed-Size: @INSTALLED_SIZE@
Depends: libgtk-3-0t64, libwebkit2gtk-4.1-0, dbus-user-session, gnome-keyring
Homepage: https://github.com/HONG-LOU/entcoin
Description: Entcoin proof-of-work mainnet desktop full node
 Entcoin combines a wallet, validating node, peer synchronization,
 transaction relay, and optional CPU miner in one desktop application.
