[Desktop Entry]
Type=Application
Name=Entropy
Comment=Entropy proof-of-work mainnet desktop full node
Exec=/usr/bin/entropy
Icon=entropy
Terminal=false
Categories=Network;Finance;
StartupNotify=true
StartupWMClass=entropy
